@import "variables";

@mixin myInput {
        width: 210px;
        height: 30px;
        border: none;
        border-radius: 5px;
        text-align: right;
        font-family: 'Outfit', sans-serif;
        color: $main-color;
        font-weight: 700;
        padding: 0 10px;
        &:focus {
            outline: none !important;
            border: 2px solid $second-color;
            
        }
}

@mixin formPar {
    font-size: 9px;
        color: $second-text-color;
        margin-bottom: 5px;
}