$main-color: rgba(06, 55, 58, 1);
$second-color: rgba(39, 184, 158, 1);
$third-color: rgba(240, 246, 249, 1);
$hover-color: rgba(184, 222, 226, 1);
$main-text-color: rgba(235, 243, 247, 1);
$second-text-color: rgba(86, 102 ,104, 1);
